body {
    background-color: #222;
    color: whitesmoke;
    text-align: center;
    direction: rtl;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    user-select: none;
    overflow-y: auto;
}

h1 {
    font-size: 1.5em;
}

h2,
h3 {
    color: gray;
}

h2 span,
h3 span {
    color: whitesmoke;
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.none {
    display: none;
}

.game-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-container>button {
    background-color: #555;
    border: 20px solid #222;
    font-size: 2em;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
}

.game-container>button:nth-child(1) {
    background: radial-gradient(circle, rgba(241, 241, 244, 1) 0%, rgba(23, 133, 50, 1) 66%, rgba(15, 65, 34, 1) 100%);
}

.game-container>button:nth-child(2) {
    background: radial-gradient(circle, rgba(241, 241, 244, 1) 0%, rgba(191, 91, 74, 1) 66%, rgba(238, 21, 18, 1) 100%);
}

.game-container>button:nth-child(3) {
    background: radial-gradient(circle, rgba(241, 241, 244, 1) 0%, rgba(23, 132, 133, 1) 66%, rgba(0, 212, 255, 1) 100%);
}

.game-container>button:nth-child(4) {
    background: radial-gradient(circle, rgba(241, 241, 244, 1) 0%, rgba(224, 224, 118, 1) 66%, rgba(230, 220, 9, 1) 100%);
}

.game-container>button.pressed {
    border: 20px solid rgba(32, 33, 23, 0.5);
}

.powerups-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 30px;

    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.692);
    background-color: rgba(240, 255, 255, 0.694);
    margin-block-start: 10px;
}

.powerups-list>li {
    position: relative;
}

.powerups-list>li .powerup-count {
    position: absolute;
    bottom: -5px;
    left: -10px;

    color: rgb(64, 255, 0);
    background-color: black;
    padding: 1px;
    border-radius: 1rem;
    font-size: 1.7rem;
    text-shadow: 0px 0px 4px black;
}

.powerups-list>li img {
    width: 50px;
    transition: scale 0.3s, opacity 0.3s;
    cursor: pointer;
}

.powerups-list>li img:hover {
    scale: 1.07;
    opacity: 0.9;
}

.broken {
    display: none;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.user-msg {
    opacity: 0;
    padding: .6em;
    transition: .5s;
    margin: 1em 0;
    font-size: 1.2rem;
}

.user-msg.show {
    opacity: 1;
    background-color: black;
}

.diff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1em 0;
    opacity: 0;
    width: 100vw;
    height: 80vh;
    transition: opacity .8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    margin: 0;
}

.modal img {
    display: block;
    margin: auto;
    max-width: 80%;
}

.modal.show {
    opacity: 1;
    background-color: black;
    z-index: 1;
}

.modal.show.small {
    top: 5px;
    left: 50%;
    translate: -50%;
    width: 500px;
    height: 400px;
    font-size: 2rem;
}

.modal.show.small button {
    display: none;
}

.modal button {
    margin-top: 1em;
    font-size: 1em;
    background-color: purple;
    border-radius: .2em;
    border: 0;
    padding: 1em 2em;
    transition: .5s;
}

.modal button:hover {
    scale: 1.1;
    color: white;
    background-color: rgb(82, 5, 82);
}

.leaderboards-container {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    pointer-events: none;
    width: 50vw;
    max-height: 70vh;
    opacity: 0;
    transition: opacity .8s;
}

.leaderboards {
    width: 100%;
    overflow-y: auto;
    color: black;
    border-collapse: collapse;
    font-size: 1.5rem;
}

.leaderboards-container.show {
    opacity: 1;
    pointer-events: auto;
}

.leaderboards-container .btn-close {
    position: absolute;
    right: 5px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: red;
}

.btn-leaderboards {
    font-size: 1.2rem;
    padding: 0.5em;
    border-radius: 10px;
}

.leaderboards th,
.leaderboards td {
    border: 1px solid #03070b;
    padding: 8px;
    text-align: left;
}

.leaderboards tr:nth-child(odd) {
    background-color: lightcyan;
}

.leaderboards tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
    cursor: pointer;
}

.backdrop.show {
    opacity: 0.6;
    pointer-events: auto;
}